/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

header {
    margin: 20px;
}

header h1 {
    padding: 0px;
    margin: 0px;
}

header h2 {
    font-size: 12px;
    
    padding: 0px;
    margin: 0px;
}

footer ul li {
    display: inline;
    margin: 5px;
}

footer {
    text-align: center;
}

footer ul {
    padding: 0px;
}

nav {
    display: inline-block;
    text-align: left;
    border: 2px;
}

nav ul {
    margin: 20px;
    padding: 0px;
}

main {
    vertical-align: top;
    display: inline-block;
    padding: 20px;
}

a {
    color: graytext;
    text-decoration: none;
}

a:hover {
    color: black;
}

#flash_message {
    padding: 10px;
    background-color: #FF4D4D;
    font-size: 12px;
}

img {
    border: 1px solid black;
}

.thumbpics {
    display: inline-block;
}
